body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
  height: 100vh;
  padding: 0px;
  margin: 0px;
}
.log-in-page-container {
  display: grid;
  grid-template-columns: 50% 50%;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.left-card {
  background-color: blue;
}
.right-card {
  display: flex;
  align-items: center;
  justify-content: center;
}
.card {
  height: 100%;
}
.log-in-title {
  font-size: 2rem;
}
.log-in-container {
  border: 1px solid #e5e7eb;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1.5rem;
  width: 60%;
  max-width: 30rem;
  max-height: 40rem;
}
.log-in-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  gap: 0.6rem;
}
.log-in-form > * {
  width: 100%;
}
.input-field {
  display: flex;
  flex-direction: column;
}
.input-field input {
  height: 2.5rem;
}
.input-field label {
  margin-bottom: 0.1rem;
}
input {
  box-sizing: border-box;
}
.log-in-questions {
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  justify-content: left;
  gap: 1rem;
}
.sign-in-btn {
  background: #e60000;
  color: white;
  height: 2.5rem;
  border: none;
  font-size: 1.2rem;
}
button,
select,
input {
  border: 1px solid #e5e7eb;
  border-radius: 0.5rem;
}
button {
  cursor: pointer;
}
